
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  
  header[role="banner"] {
    background-color: #471212;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  nav[role="navigation"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav[role="navigation"] li {
    margin-right: 20px;
  }
  
  nav[role="navigation"] a {
    color: #fff;
    text-decoration: none;
  }
  
  
  main[role="main"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  
  section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(75, 33, 33, 0.1);
  }
  
  h1, h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }

  
  footer[role="contentinfo"] {
    background-color: #722a2a;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
  }
  
  footer[role="contentinfo"] p {
    margin-bottom: 0;
  }